<body>
<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-orange">
          <div class="card-title">Rédacteur</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/90b63d27-a623-4119-91ec-8f549707f039.png');"></div>
          <div class="card-theme">Equipement : Stylo et feuille <div class="card-logo"><i class="fa-solid fa-pen"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Rédiger</strong> sur la copie
les <strong>raisonnements</strong>, les <strong>calculs</strong> et
les <strong>réponses</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>


  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-orange">
          <div class="card-title">Agent secret</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/3d7fdff7-e101-4c8e-a267-8973db010377.png');"></div>
          <div class="card-theme">Atout : Discrétion <div class="card-logo"><i class="fa-solid fa-person-circle-question"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Regarder</strong> ce qui se passe
<strong>une seule fois</strong> dans <strong>un seul groupe</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>
</div>
  
<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-orange">
          <div class="card-title">Maitre du calme</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/2814b847-42eb-4fa0-bb73-9b62f8b897f2.png');"></div>
          <div class="card-theme">Atout : Bienveillance <div class="card-logo"><i class="fa-solid fa-volume-xmark"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Garantir</strong> une ambiance de travail <strong>calme</strong> et <strong>sereine</strong> au sein du groupe.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>


  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-orange">
          <div class="card-title">Enquêteur</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/02bc9260-96d9-411d-8977-10f4ba3a5c14.png');"></div>
          <div class="card-theme">Atout : Clarté <div class="card-logo"><i class="fa-solid fa-person-circle-question"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Poser les questions</strong> du groupe de travail <strong>au professeur</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>
</div>

<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-orange">
          <div class="card-title">Maitre des opérations</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/b3674465-339c-437d-bf66-8776eb8f2ca0.png');"></div>
          <div class="card-theme">Équipement : Calculatrice <div class="card-logo"><i class="fa-solid fa-calculator"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;">Être le seul du groupe à <strong>avoir accès</strong> aux <strong>table de multipli-cation</strong> et à la <strong>calculatrice</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>


  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-orange">
          <div class="card-title">Maître des archives</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/17648ccb-dad8-4d84-8321-58a82d97f4d5.png');"></div>
          <div class="card-theme">Équipement : Leçons et cahier <div class="card-logo"><i class="fa-solid fa-book-open"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;">Être le seul du groupe à <strong>avoir accès</strong> à ses cours : <strong>fiches leçon</strong> et <strong>cahier d'exercices</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>
</div>

<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-blue">
          <div class="card-title">Rédacteur</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/90b63d27-a623-4119-91ec-8f549707f039.png');"></div>
          <div class="card-theme">Equipement : Stylo et feuille <div class="card-logo"><i class="fa-solid fa-pen"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Rédiger</strong> sur la copie
les <strong>raisonnements</strong>, les <strong>calculs</strong> et
les <strong>réponses</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>


  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-blue">
          <div class="card-title">Agent secret</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/3d7fdff7-e101-4c8e-a267-8973db010377.png');"></div>
          <div class="card-theme">Atout : Discrétion <div class="card-logo"><i class="fa-solid fa-person-circle-question"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Regarder</strong> ce qui se passe
<strong>une seule fois</strong> dans <strong>un seul groupe</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>
</div>
  
<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-blue">
          <div class="card-title">Maitre du calme</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/2814b847-42eb-4fa0-bb73-9b62f8b897f2.png');"></div>
          <div class="card-theme">Atout : Bienveillance <div class="card-logo"><i class="fa-solid fa-volume-xmark"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Garantir</strong> une ambiance de travail <strong>calme</strong> et <strong>sereine</strong> au sein du groupe.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>


  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-blue">
          <div class="card-title">Enquêteur</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/02bc9260-96d9-411d-8977-10f4ba3a5c14.png');"></div>
          <div class="card-theme">Atout : Clarté <div class="card-logo"><i class="fa-solid fa-person-circle-question"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Poser les questions</strong> du groupe de travail <strong>au professeur</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>
</div>

<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-blue">
          <div class="card-title">Maitre des opérations</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/b3674465-339c-437d-bf66-8776eb8f2ca0.png');"></div>
          <div class="card-theme">Équipement : Calculatrice <div class="card-logo"><i class="fa-solid fa-calculator"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;">Être le seul du groupe à <strong>avoir accès</strong> aux <strong>table de multipli-cation</strong> et à la <strong>calculatrice</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>


  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-blue">
          <div class="card-title">Maître des archives</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/17648ccb-dad8-4d84-8321-58a82d97f4d5.png');"></div>
          <div class="card-theme">Équipement : Leçons et cahier <div class="card-logo"><i class="fa-solid fa-book-open"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;">Être le seul du groupe à <strong>avoir accès</strong> à ses cours : <strong>fiches leçon</strong> et <strong>cahier d'exercices</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>
</div>

<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-yellow">
          <div class="card-title">Rédacteur</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/90b63d27-a623-4119-91ec-8f549707f039.png');"></div>
          <div class="card-theme">Equipement : Stylo et feuille <div class="card-logo"><i class="fa-solid fa-pen"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Rédiger</strong> sur la copie
les <strong>raisonnements</strong>, les <strong>calculs</strong> et
les <strong>réponses</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>


  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-yellow">
          <div class="card-title">Agent secret</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/3d7fdff7-e101-4c8e-a267-8973db010377.png');"></div>
          <div class="card-theme">Atout : Discrétion <div class="card-logo"><i class="fa-solid fa-person-circle-question"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Regarder</strong> ce qui se passe
<strong>une seule fois</strong> dans <strong>un seul groupe</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>
</div>
  
<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-yellow">
          <div class="card-title">Maitre du calme</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/2814b847-42eb-4fa0-bb73-9b62f8b897f2.png');"></div>
          <div class="card-theme">Atout : Bienveillance <div class="card-logo"><i class="fa-solid fa-volume-xmark"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Garantir</strong> une ambiance de travail <strong>calme</strong> et <strong>sereine</strong> au sein du groupe.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>


  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-yellow">
          <div class="card-title">Enquêteur</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/02bc9260-96d9-411d-8977-10f4ba3a5c14.png');"></div>
          <div class="card-theme">Atout : Clarté <div class="card-logo"><i class="fa-solid fa-person-circle-question"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Poser les questions</strong> du groupe de travail <strong>au professeur</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>
</div>

<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-yellow">
          <div class="card-title">Maitre des opérations</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/b3674465-339c-437d-bf66-8776eb8f2ca0.png');"></div>
          <div class="card-theme">Équipement : Calculatrice <div class="card-logo"><i class="fa-solid fa-calculator"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;">Être le seul du groupe à <strong>avoir accès</strong> aux <strong>table de multipli-cation</strong> et à la <strong>calculatrice</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>


  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-yellow">
          <div class="card-title">Maître des archives</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/17648ccb-dad8-4d84-8321-58a82d97f4d5.png');"></div>
          <div class="card-theme">Équipement : Leçons et cahier <div class="card-logo"><i class="fa-solid fa-book-open"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;">Être le seul du groupe à <strong>avoir accès</strong> à ses cours : <strong>fiches leçon</strong> et <strong>cahier d'exercices</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>
</div>

<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-purple">
          <div class="card-title">Rédacteur</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/90b63d27-a623-4119-91ec-8f549707f039.png');"></div>
          <div class="card-theme">Equipement : Stylo et feuille <div class="card-logo"><i class="fa-solid fa-pen"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Rédiger</strong> sur la copie
les <strong>raisonnements</strong>, les <strong>calculs</strong> et
les <strong>réponses</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>


  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-purple">
          <div class="card-title">Agent secret</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/3d7fdff7-e101-4c8e-a267-8973db010377.png');"></div>
          <div class="card-theme">Atout : Discrétion <div class="card-logo"><i class="fa-solid fa-person-circle-question"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Regarder</strong> ce qui se passe
<strong>une seule fois</strong> dans <strong>un seul groupe</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>
</div>
  
<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-purple">
          <div class="card-title">Maitre du calme</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/2814b847-42eb-4fa0-bb73-9b62f8b897f2.png');"></div>
          <div class="card-theme">Atout : Bienveillance <div class="card-logo"><i class="fa-solid fa-volume-xmark"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Garantir</strong> une ambiance de travail <strong>calme</strong> et <strong>sereine</strong> au sein du groupe.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>


  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-purple">
          <div class="card-title">Enquêteur</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/02bc9260-96d9-411d-8977-10f4ba3a5c14.png');"></div>
          <div class="card-theme">Atout : Clarté <div class="card-logo"><i class="fa-solid fa-person-circle-question"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Poser les questions</strong> du groupe de travail <strong>au professeur</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>
</div>

<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-purple">
          <div class="card-title">Maitre des opérations</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/b3674465-339c-437d-bf66-8776eb8f2ca0.png');"></div>
          <div class="card-theme">Équipement : Calculatrice <div class="card-logo"><i class="fa-solid fa-calculator"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;">Être le seul du groupe à <strong>avoir accès</strong> aux <strong>table de multipli-cation</strong> et à la <strong>calculatrice</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>


  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-purple">
          <div class="card-title">Maître des archives</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/17648ccb-dad8-4d84-8321-58a82d97f4d5.png');"></div>
          <div class="card-theme">Équipement : Leçons et cahier <div class="card-logo"><i class="fa-solid fa-book-open"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;">Être le seul du groupe à <strong>avoir accès</strong> à ses cours : <strong>fiches leçon</strong> et <strong>cahier d'exercices</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>
</div>

<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-green">
          <div class="card-title">Rédacteur</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/90b63d27-a623-4119-91ec-8f549707f039.png');"></div>
          <div class="card-theme">Equipement : Stylo et feuille <div class="card-logo"><i class="fa-solid fa-pen"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Rédiger</strong> sur la copie
les <strong>raisonnements</strong>, les <strong>calculs</strong> et
les <strong>réponses</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>


  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-green">
          <div class="card-title">Agent secret</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/3d7fdff7-e101-4c8e-a267-8973db010377.png');"></div>
          <div class="card-theme">Atout : Discrétion <div class="card-logo"><i class="fa-solid fa-person-circle-question"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Regarder</strong> ce qui se passe
<strong>une seule fois</strong> dans <strong>un seul groupe</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>
</div>
  
<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-green">
          <div class="card-title">Maitre du calme</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/2814b847-42eb-4fa0-bb73-9b62f8b897f2.png');"></div>
          <div class="card-theme">Atout : Bienveillance <div class="card-logo"><i class="fa-solid fa-volume-xmark"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Garantir</strong> une ambiance de travail <strong>calme</strong> et <strong>sereine</strong> au sein du groupe.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>


  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-green">
          <div class="card-title">Enquêteur</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/02bc9260-96d9-411d-8977-10f4ba3a5c14.png');"></div>
          <div class="card-theme">Atout : Clarté <div class="card-logo"><i class="fa-solid fa-person-circle-question"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Poser les questions</strong> du groupe de travail <strong>au professeur</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>
</div>

<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-green">
          <div class="card-title">Maitre des opérations</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/b3674465-339c-437d-bf66-8776eb8f2ca0.png');"></div>
          <div class="card-theme">Équipement : Calculatrice <div class="card-logo"><i class="fa-solid fa-calculator"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;">Être le seul du groupe à <strong>avoir accès</strong> aux <strong>table de multipli-cation</strong> et à la <strong>calculatrice</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>


  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-green">
          <div class="card-title">Maître des archives</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/17648ccb-dad8-4d84-8321-58a82d97f4d5.png');"></div>
          <div class="card-theme">Équipement : Leçons et cahier <div class="card-logo"><i class="fa-solid fa-book-open"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;">Être le seul du groupe à <strong>avoir accès</strong> à ses cours : <strong>fiches leçon</strong> et <strong>cahier d'exercices</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>
</div>

<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-red">
          <div class="card-title">Rédacteur</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/90b63d27-a623-4119-91ec-8f549707f039.png');"></div>
          <div class="card-theme">Equipement : Stylo et feuille <div class="card-logo"><i class="fa-solid fa-pen"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Rédiger</strong> sur la copie
les <strong>raisonnements</strong>, les <strong>calculs</strong> et
les <strong>réponses</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>


  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-red">
          <div class="card-title">Agent secret</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/3d7fdff7-e101-4c8e-a267-8973db010377.png');"></div>
          <div class="card-theme">Atout : Discrétion <div class="card-logo"><i class="fa-solid fa-person-circle-question"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Regarder</strong> ce qui se passe
<strong>une seule fois</strong> dans <strong>un seul groupe</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>
</div>
  
<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-red">
          <div class="card-title">Maitre du calme</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/2814b847-42eb-4fa0-bb73-9b62f8b897f2.png');"></div>
          <div class="card-theme">Atout : Bienveillance <div class="card-logo"><i class="fa-solid fa-volume-xmark"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Garantir</strong> une ambiance de travail <strong>calme</strong> et <strong>sereine</strong> au sein du groupe.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>


  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-red">
          <div class="card-title">Enquêteur</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/02bc9260-96d9-411d-8977-10f4ba3a5c14.png');"></div>
          <div class="card-theme">Atout : Clarté <div class="card-logo"><i class="fa-solid fa-person-circle-question"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;"><strong>Poser les questions</strong> du groupe de travail <strong>au professeur</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>
</div>

<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-red">
          <div class="card-title">Maitre des opérations</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/b3674465-339c-437d-bf66-8776eb8f2ca0.png');"></div>
          <div class="card-theme">Équipement : Calculatrice <div class="card-logo"><i class="fa-solid fa-calculator"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;">Être le seul du groupe à <strong>avoir accès</strong> aux <strong>table de multipli-cation</strong> et à la <strong>calculatrice</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>


  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-red">
          <div class="card-title">Maître des archives</div>
          <div class="card-image" style="background-image: url('https://digipage.app/uploads/17648ccb-dad8-4d84-8321-58a82d97f4d5.png');"></div>
          <div class="card-theme">Équipement : Leçons et cahier <div class="card-logo"><i class="fa-solid fa-book-open"></i></div></div>
          
          <div class="card-content" style="font-size:1em;">
          <p style="margin-top:1em;">Être le seul du groupe à <strong>avoir accès</strong> à ses cours : <strong>fiches leçon</strong> et <strong>cahier d'exercices</strong>.</p>
          </div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://digipage.app/uploads/b19e1ed8-ecf5-4582-a0e4-42c28c7a9950.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>
</div>
</body>

<!-- Style CSS des cartes -->
<style>
    /* Style global pour les cartes */
  
  	body {
  		font-family: Arial, sans-serif;
  		}
  	
  	p {
  		color: black;
  		}
  
  	.duo-card {
        display: block;
    }
  	
    .card {
      	position: relative;
        width: 240px;
        height: 340px;
        border: 5px solid #000;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }

    
    .cards-container {
        display: flex;
        align-items: center;
        margin: 0; 
      	margin-bottom: 1em;
    }

    .card-front, .card-back {
        margin: 0;
    }

    .card-back {
        background: linear-gradient(145deg, #f0f0f0, #d4d4d4);
        background-size: cover;
        background-position: center;
    }

    .card-image {
        width: 92.5%;
        height: 48%;
        background-position: center;
        background-size: cover;
        border: solid 3.5px lightgray;
        margin: auto;
    }

    .card-title {
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        padding: 6px;
        color: #333;
        background-color: #f0f0f0;
    }

    .card-theme {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        padding: 4px;
        background-color: #d4d4d4;
        color: #333;
        position: relative;
    }

    .card-logo {
        position: absolute; 
        right: 10px;
        top: 50%; 
        transform: translateY(-50%);
    }

    .card-theme::before {
        content: ''; 
        display: inline-block; 
        width: 0; 
        height: 100%;
        vertical-align: middle; 
        margin-right: -0.25em;
    }

    .card-content {
        padding: 8px;
        height: 30%;
        border-top: 1px solid #ddd;
        overflow-y: auto;
        font-size: 12px;
        text-align: justify;
        background-color: #f0f0f0;
    }
  
  	.card-level {
    position: absolute;
    bottom: -1px;
    right: -1px;
    background-color: rgba(255, 255, 255, 0.4);
    border: solid 1px black;
    border-radius: 25%;
    width: 30px;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-weight: bold;
    font-size: 12px;
    }
  
    .card-logo {
        margin-left: auto; /* Pousse l'icône à droite */
        display: flex; /* Permet un bon alignement de l'icône */
    }

	
	.card-yellow {
        border-color: #e6c300; 
        box-shadow: 0 8px 16px rgba(226, 202, 0, 0.2);
      	background-color: #f7f1b3;
    }
    .card-yellow .card-title {
        background-color: #f7f1b3;
    }
    .card-yellow .card-theme {
        background-color: #f7e666;
    }
	.card-yellow .card-content {
        background-color: #feffe3;
    }  
  	.card-yellow .card-level{
  		border-color: #e6c300;
  	}
	
	.card-blue {
        border-color: #0073e6; 
        box-shadow: 0 8px 16px rgba(0, 115, 230, 0.2);
      	background-color: #b3d1f7;
    }
    .card-blue .card-title {
        background-color: #b3d1f7;
    }
    .card-blue .card-theme {
        background-color: #66b2f7;
    }
	.card-blue .card-content {
        background-color: #e3f7ff;
    }
  	.card-blue .card-level {
        border-color: #0073e6; 
  	}
	
	.card-red {
        border-color: #e60000; 
        box-shadow: 0 8px 16px rgba(230, 0, 0, 0.2);
      background-color: #f7b3b3;
    }
    .card-red .card-title {
        background-color: #f7b3b3;
    }
    .card-red .card-theme {
        background-color: #f76666;
    }
	.card-red .card-content {
        background-color: #ffe6e6;
    }
  	.card-red .card-level {
        border-color: #e60000;
  	}
	
	.card-green {
    border-color: #68c268; 
    box-shadow: 0 8px 16px rgba(119, 221, 119, 0.2);
    background-color: #c9f0c9;
	}
	.card-green .card-title {
		background-color: #c9f0c9;
	}
	.card-green .card-theme {
		background-color: #a6e7a6;
	}
	.card-green .card-content {
		background-color: #e6ffe6;
	}
  	.card-green .card-level {
    border-color: #68c268;
  	}
	
	.card-purple {
    border-color: #996dc7; 
    box-shadow: 0 8px 16px rgba(177, 156, 217, 0.2);
    background-color: #d6c3f0;
	}
	.card-purple .card-title {
		background-color: #d6c3f0;
	}
	.card-purple .card-theme {
		background-color: #c9a9f5;
	}
	.card-purple .card-content {
		background-color: #f3e6ff;
	}
  	.card-purple .card-level {
    border-color: #996dc7;
  	}

	.card-orange {
    border-color: #e69500; 
    box-shadow: 0 8px 16px rgba(255, 179, 71, 0.2);
    background-color: #ffd4a3;
	}
	.card-orange .card-title {
		background-color: #ffd4a3;
	}
	.card-orange .card-theme {
		background-color: #ffc080;
	}
	.card-orange .card-content {
		background-color: #fff0e3;
	}
  	.card-orange .card-level {
    border-color: #e69500;
  	}
	
  	ul, li {
  	margin: 0px;
  	margin-left: -15px;
  	hyphens: auto;}
  
	@media print {
    .duo-card {
        display: flex;
        page-break-inside: avoid;
    }
	.cards-container {
	 margin: 5px;
	}
	}
</style>
</head>
</html>