<body>
<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-yellow">
          <div class="card-title">Le triangle</div>
          <div class="card-image" style="background-image: url('triangle.svg');"></div>
          <div class="card-theme">Périmètre et aire<div class="card-logo"><i class="fa-solid fa-pen-ruler"></i></div></div>
          
          <div class="card-content">
			$$\large\textsf{Périmètre} = a+b+c$$
            $$\large\textsf{Aire} = \dfrac{\textsf{base}\times\textsf{hauteur}}{2}$$
          </div>
          <div class="card-level">6e</div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://lmdbt.fr/LogoHQ.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>



  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-blue">
          <div class="card-title">Le carré</div>
          <div class="card-image" style="background-image: url('carré.svg');"></div>
          <div class="card-theme">Périmètre et aire<div class="card-logo"><i class="fa-solid fa-pen-ruler"></i></i></div></div>
          <div class="card-content">

				$$\large\textsf{Périmètre} = 4\times{}c$$
            	$$\large\textsf{Aire} = c\times{}c=c^2$$

          </div>
          <div class="card-level">6e</div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://lmdbt.fr/LogoHQ.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>
</div>


<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-blue">
          <div class="card-title">Le rectangle</div>
          <div class="card-image" style="background-image: url('rectangle.svg');"></div>
          <div class="card-theme">Périmètre et aire<div class="card-logo"><i class="fa-solid fa-pen-ruler"></i></div></div>
          <div class="card-content">
			$$\begin{align}
			\large\textsf{Périmètre} &= 2\times(L+l)
								  \\ &= 2\times{}L+2\times{}l
            	\end{align}$$
            $$\large\textsf{Aire}=L\times{}l$$
            
          </div>
          <div class="card-level">6e</div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://lmdbt.fr/LogoHQ.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>



<div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-red">
          <div class="card-title">Le cercle / Le disque</div>
          <div class="card-image" style="background-image: url('cercle.svg');"></div>
          <div class="card-theme">Périmètre et aire<div class="card-logo"><i class="fa-solid fa-pen-ruler"></i></div></div>
          
          <div class="card-content">
			$$\large\textsf{Périmètre}_\textsf{ cercle} = 2\times{}r\times{}\pi$$
            $$\large\textsf{Aire}_\textsf{ disque}=\pi\times{}r^2$$
          </div>
          <div class="card-level">5e</div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://lmdbt.fr/LogoHQ.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>
</div>

<div class="duo-card">
  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-blue">
          <div class="card-title">Le parallélogramme</div>
          <div class="card-image" style="background-image: url('paralléogramme.svg');"></div>
          <div class="card-theme">Périmètre et aire<div class="card-logo"><i class="fa-solid fa-pen-ruler"></i></div></div>
          
          <div class="card-content">
			$$\large\textsf{Périmètre} = 2\times{}(\textsf{base}+a)$$
            $$\large\textsf{Aire} = \textsf{base}\times\textsf{hauteur}$$
          </div>
          <div class="card-level">5e</div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://lmdbt.fr/LogoHQ.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>



  <div class="cards-container">
      <!-- Recto de la carte -->
      <div class="card card-front card-blue">
          <div class="card-title">Le losange</div>
          <div class="card-image" style="background-image: url('losange.svg');"></div>
          <div class="card-theme">Périmètre et aire<div class="card-logo"><i class="fa-solid fa-pen-ruler"></i></i></div></div>
          <div class="card-content">

				$$\large\textsf{Périmètre} = 4\times{}c$$
            	$$\large\textsf{Aire} = \dfrac{d_1\times{}d_2}{2}$$

          </div>
          <div class="card-level">5e</div>
      </div>

      <!-- Verso de la carte -->
      <div class="card card-back card-color" style="background-image: url('https://lmdbt.fr/LogoHQ.png');">
          <!-- Aucun contenu textuel ici, juste l'image -->
      </div>
  </div>
</div>

</body>

<!-- Style CSS des cartes -->
<style>
    /* Style global pour les cartes */
  
  	body {
  		font-family: Arial, sans-serif;
  		}
  	
  	.duo-card {
        display: block;
    }
  	
    .card {
      	position: relative;
        width: 240px;
        height: 340px;
        border: 5px solid #000;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }

    
    .cards-container {
        display: flex;
        align-items: center;
        margin: 0; 
      	margin-bottom: 1em;
    }

    .card-front, .card-back {
        margin: 0;
    }

    .card-back {
        background: linear-gradient(145deg, #f0f0f0, #d4d4d4);
        background-size: cover;
        background-position: center;
    }

    .card-image {
        width: 92.5%;
        height: 48%;
        background-position: center;
        background-size: cover;
        border: solid 3.5px lightgray;
        margin: auto;
    }

    .card-title {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        padding: 6px;
        color: #333;
        background-color: #f0f0f0;
    }

    .card-theme {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        padding: 4px;
        background-color: #d4d4d4;
        color: #333;
        position: relative;
    }

    .card-logo {
        position: absolute; 
        right: 10px;
        top: 50%; 
        transform: translateY(-50%);
    }

    .card-theme::before {
        content: ''; 
        display: inline-block; 
        width: 0; 
        height: 100%;
        vertical-align: middle; 
        margin-right: -0.25em;
    }

    .card-content {
        padding: 8px;
        height: 30%;
        border-top: 1px solid #ddd;
        overflow-y: auto;
        font-size: 12px;
        text-align: justify;
        background-color: #f0f0f0;
    }
  
  	.card-level {
    position: absolute;
    bottom: -1px;
    right: -1px;
    background-color: rgba(255, 255, 255, 0.4);
    border: solid 1px black;
    border-radius: 25%;
    width: 20px;
    height: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-weight: bold;
    font-size: 12px;
    }
  
    .card-logo {
        margin-left: auto; /* Pousse l'icône à droite */
        display: flex; /* Permet un bon alignement de l'icône */
    }

	
	.card-yellow {
        border-color: #e6c300; 
        box-shadow: 0 8px 16px rgba(226, 202, 0, 0.2);
      	background-color: #f7f1b3;
    }
    .card-yellow .card-title {
        background-color: #f7f1b3;
    }
    .card-yellow .card-theme {
        background-color: #f7e666;
    }
	.card-yellow .card-content {
        background-color: #feffe3;
    }  
  	.card-yellow .card-level{
  		border-color: #e6c300;
  	}
	
	.card-blue {
        border-color: #0073e6; 
        box-shadow: 0 8px 16px rgba(0, 115, 230, 0.2);
      	background-color: #b3d1f7;
    }
    .card-blue .card-title {
        background-color: #b3d1f7;
    }
    .card-blue .card-theme {
        background-color: #66b2f7;
    }
	.card-blue .card-content {
        background-color: #e3f7ff;
    }
  	.card-blue .card-level {
        border-color: #0073e6; 
  	}
	
	.card-red {
        border-color: #e60000; 
        box-shadow: 0 8px 16px rgba(230, 0, 0, 0.2);
      background-color: #f7b3b3;
    }
    .card-red .card-title {
        background-color: #f7b3b3;
    }
    .card-red .card-theme {
        background-color: #f76666;
    }
	.card-red .card-content {
        background-color: #ffe6e6;
    }
  	.card-red .card-level {
        border-color: #e60000;
  	}
	
	.card-green {
    border-color: #68c268; 
    box-shadow: 0 8px 16px rgba(119, 221, 119, 0.2);
    background-color: #c9f0c9;
	}
	.card-green .card-title {
		background-color: #c9f0c9;
	}
	.card-green .card-theme {
		background-color: #a6e7a6;
	}
	.card-green .card-content {
		background-color: #e6ffe6;
	}
  	.card-green .card-level {
    border-color: #68c268;
  	}
	
	.card-purple {
    border-color: #996dc7; 
    box-shadow: 0 8px 16px rgba(177, 156, 217, 0.2);
    background-color: #d6c3f0;
	}
	.card-purple .card-title {
		background-color: #d6c3f0;
	}
	.card-purple .card-theme {
		background-color: #c9a9f5;
	}
	.card-purple .card-content {
		background-color: #f3e6ff;
	}
  	.card-purple .card-level {
    border-color: #996dc7;
  	}

	.card-orange {
    border-color: #e69500; 
    box-shadow: 0 8px 16px rgba(255, 179, 71, 0.2);
    background-color: #ffd4a3;
	}
	.card-orange .card-title {
		background-color: #ffd4a3;
	}
	.card-orange .card-theme {
		background-color: #ffc080;
	}
	.card-orange .card-content {
		background-color: #fff0e3;
	}
  	.card-orange .card-level {
    border-color: #e69500;
  	}
	
  	ul, li {
  	margin: 0px;
  	margin-left: -15px;
  	hyphens: auto;}
  
	@media print {
    .duo-card {
        display: flex;
        page-break-inside: avoid;
    }
	.cards-container {
	 margin: 5px;
	}
	}
</style>
</head>
</html>